/* src/components/CardComponent.scss */
.cards {
    background: linear-gradient(135deg, #bbfbc0, #fabcbc);
    border-radius: 3px;
    cursor: pointer;
    height: 17em;
    max-height: 21em;
    padding: 1.5em;
    position: relative;
    overflow: hidden;
    transition: height 0.4s, box-shadow 0.5s;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

    &:before {
        content: '';
        position: absolute;
        top: -50%;
        left: -50%;
        width: 200%;
        height: 200%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, transparent 70%);
        animation: shimmer 6s infinite linear;
        z-index: 0;
        pointer-events: none;
    }

    &:hover {
        box-shadow: 0 0 2em #999;
        height: 25em;
        transition: height 0.3s ease, box-shadow 0.5s ease;

        .divider {
            opacity: 0.5;
        }

        .info {
            transition: top 0.5s ease, opacity 1s ease;
            visibility: visible;
            top: 1%;
            opacity: 1;
        }

        .icon {
            font-size: 1.5em;
            left: -40%;
            top: -0.25em;
            transition: font-size .3s, left .3s;
        }
    }

    .info {
        position: relative;
        visibility: hidden;
        top: -50%;
        opacity: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 100%;
        z-index: 1;
    }

    .icon {
        color: #3f3f3fdd;
        font-size: 2.5em;
        text-align: center;
        padding: 0em;
        position: relative;
        left: -40%;
        top: -0.25em;
        transition: font-size .3s ease, left .3s ease;
        z-index: 1;
    }

    .divider {
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        margin-top: 10px;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .title {
        color: #000;
        text-align: center;
        font-weight: 400;
        font-size: 1.8em;
        margin-bottom: 0.5em;
        padding-bottom: 0.3em;
        border-bottom: 2px solid #999;
        display: inline-block;
    }

    .lead {
        color: #000;
        font-weight: 250;
        font-size: 1.3em;
        /* リードテキストのフォントサイズ */
        text-align: center;
        hyphens: auto;
        margin-bottom: 1em;
        /* 説明文とボタンの間にスペースを追加 */
    }

    .btn {
        color: #00c5a7;
        border: 1px solid #00c5a7;
        border-radius: 3px;
        transition: color 0.3s, background 0.3s;
        margin-top: 20px;

        /* ボタンとテキストの間にスペースを追加 */
        &:hover {
            background: #00c5a7;
            color: #fff;
            transition: background 0.5s ease;
        }
    }
}

@keyframes shimmer {
    0% {
        transform: rotate(0deg) translate(-50%, -50%);
    }

    100% {
        transform: rotate(360deg) translate(-50%, -50%);
    }
}